.botao {
  
  background  #ffffff;
  background:    linear-gradient(#ffffff, #f7a900);
  border-radius: 100px;
  box-shadow:    0 3px #ffffff;
  padding:       20px 45px;
  color:         #ffffff;
  display:       inline-block;
  font:          normal bold 28px/1 "Open Sans", sans-serif;
  text-align:    center;

margin-left: 18%;
margin-right 25%;
margin-top: 15%;
margin: relative;

margin-top: ;
position:relative; 
 top:5%;
left:33%;
transform: translate(-50%, -20%);

text-decoration: none;
color: white;

}

.botao2 {
  
  background  #ffffff;
  background:    linear-gradient(#ffffff, #f7a900);
  border-radius: 100px;
  box-shadow:    0 3px #ffffff;
  padding:       20px 45px;
  color:         #ffffff;
  display:       inline-block;
  font:          normal bold 28px/1 "Open Sans", sans-serif;
  text-align:    center;

margin-left: 18%;
margin-right 18%;
margin-top: 10%;
margin: relative;

margin-top: px;
position:relative; 
 top:2px;
left:33%;
transform: translate(-50%, 80%);

text-decoration: none;
color: white;

  
}



p {
 color: white;
 font-size: 50px;
 text-align: center;
 margin-top: 3px;
 margin: 5px;
}


 


  


body {
  background-color:#fd7e14;
  background: rgb(247,169,0);
  background: linear-gradient(0deg, rgba(247,169,0,1) 0%, rgba(253,126,20,1) 100%); 
  height:700px;
  width: 100%;

  
}
